.gridContainer {
    border: 2px solid pink;
}

.gridChild {
  background-color: #36454f;
  box-shadow: 4px 4px 0px 0px #000000;
}

.grid-grabber {
  opacity: 0%;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.grid-grabber:hover {
  cursor: grab;
  opacity: 25%;
}

.grid-grabber:active {
  cursor: grabbing;
}

.grid-resizer {
  border-bottom: 3px red solid;
  border-right: 3px red solid;
}

.grid-resizer:hover {
  cursor: se-resize;
}

.grid-closer {
  background-color: grey;
  color: lightgrey;
  font-weight: 500;
  font-size: 12px;
}
