@import "tailwindcss";

.main {
    font-size: smaller;
    
}

div {
    padding: 1px;
    /* all: initial; */
    /* height:fit-content; */
}

h1 {
    font-size: large;
    margin: 0;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}

.UIContainer {
    border: 1px solid black;

}

.buttons {

}

.buttons .componentToggles {
    border: 1px solid black;
    cursor: pointer;
}

/* Grid */
.gridContainer {

}

.gridChild {

}

.gridChildContent {

}

.primaryContent {
    /* outline: 1px solid green; */
}

.secondaryContent {
    /* outline: 1px solid red; */
}

/* Next Session */
.nextSession {
    width: 300px;
    height: 300px;
    /* height: auto; */
}

.nextSession * {
    /* border: 1px solid blueviolet; */
}

.nextSessionContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.eventAndSessionContainer {
    height: 2/3;
}

.timingContainers {
    
}

.countdownAndLocal {
    /* justify-content: center; */
    
}

.countdownContainer {

}

.timeSpecifiers {
}

.localTimeContainer {

}

.localTimeNum {

}

.otherCountdowns::-webkit-scrollbar {
  display: none; 
}

/* Driver Standings */
.driverStandings {
    width: 450px;
    height:300px;
}

.standingsTable {
    padding: 0 !important;
}

.tableHeaderRow {
    background-color: white;
}

.cells {
    border: 1px solid black;
}

/* Driver Info */
.driverInfo {
    width: 300px;
    height:200px;
    
}
