# All the node modules
node_modules
frontend/node_modules
backend/node_modules

# Build outputs
dist
frontend/dist
backend/dist

# .env files
.env
.env.local

# Logs
npm-debug-log

# Everything GIT OUTTA HERE
.git
.gitignore
.vscode