.constructorStandingsContent {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  min-height: calc(var(--spacing) * 0);
}

.constructorStandingsContent .header {
  display: flex;
}

/* .standingsTable {
  display: grid;
  overflow-y: auto;
  width: 100%;
} */

.tableHeaderRow {
  position: sticky;
  top: 0;
}

.standingsColumns {
  width: 100%;
}

.standingsColumns .cells {
}

.standingsColumns .cells.cursor-pointer {
  cursor: pointer;
}

.primaryContent {
  /* matches your existing structure */
}
