* {
    scrollbar-width: thin;
}

.main {
    font-size: smaller;
    
}

a {
    text-decoration: underline;
}

div {
    padding: 1px;
    /* all: initial; */
    /* height:fit-content; */
}

h1 {
    font-size: large;
    margin: 0;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}

p {

}

span {

}

.UIContainer {

}

.buttons {
}


/* Grid */
.gridContainer {

}

.gridChild {

}

.gridChildContent {

}

.primaryContent {
    /* outline: 1px solid green; */
}

.secondaryContent {
    /* outline: 1px solid red; */
}

.nextSessionContent {
    gap: 20px;
}

.otherCountdowns {
    gap: 5px;
}
.cContainer {   
    /* background-color: lightgrey; */
    border: solid 1px black;
}


/* Components */

/* Next Session */
.nextSession {
    width: 300px;
    height: 300px;
}


/* Driver Standings */
.driverStandings {
    width: 450px;
    height:300px;
}

/* Constructor Standings */
.constructorStandings {
    width: 400px;
    height:325px;
}

/* Driver Info */
.driverInfo {
    width: 675px;
    height:300px;
}

.driverInfoContent img {
    /* max-height: 300px; */
}

.excerpt {
    padding-top: 8px;
    padding-bottom: 8px;
}

.standingsTable {
    padding: 0 !important;
}

.tableHeaderRow {
    background-color: white;
}

.standingsTable .cells {
    border: 1px solid black;
    height: 25px;
}


#eventAndSession {
  border: 1px solid;
}

.countdownAndLocal {
  gap: 1rem;
}

.countdownContainer {
  gap: 1rem; 
}



