@import "tailwindcss";

@theme {
    --color-primary: #36454f;
    --color-secondary: #536878;
    --color-text: #dadada;
    --color-link: #FF1E00;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
}
a {
    color: var(--color-link);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 3px;            /* thinner */
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text); /* subtle gray thumb */
  border-radius: 9999px;                      /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text); /* slightly darker on hover */
}

::-webkit-scrollbar-track {
  background: transparent;  /* no visible track */
}
