@import "tailwindcss";

@theme {
    --color-primary: #36454f;
    --color-secondary: #536878;
    --color-text: #dadada;
    --color-link: #FF1E00;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);
}
a {
    color: var(--color-link);
}
